// @import 'ant-table','variables','mixins','exchange'
@import 'variables','mixins','exchange', 'ant-table','navbar','login','coin-info'
@use "sass:map"
body
    min-width: fit-content !important
.page-wrapper 
    height: calc(100vh - 60px)
    display: flex
    color: white
    justify-content: center
    align-items: center
    background: linear-gradient(342deg, #5912aa02, #08c5a6, #5a196e)
    background-size: 600% 600%
    -moz-animation: AnimationName 10s ease infinite
    animation: AnimationName 10s ease infinite
    @include media("max", "md" )
        margin: 0
        width: 100vw
        padding: 0
    code 
        color: red
.coinlist-wrapper 
    animation: animateBg 100000s linear infinite
    // background-image: linear-gradient(212deg, #4d817e, #14191b85,#43c36e)
    background-image: linear-gradient(to left, #5635ad6e, #006fbf66, #b94fff57);
    // background: radial-gradient(circle at 50% 0,rgba(255,0,0,.5),rgba(255,0,0,0) 70.71%),radial-gradient(circle at 6.7% 75%,rgba(0,0,255,.5),rgba(0,0,255,0) 70.71%),radial-gradient(circle at 93.3% 75%,rgba(0,255,0,.5),rgba(0,255,0,0) 70.71%) 
    // background: black
    // background-size: 400% 100%
    height: max-content
    .content
        margin-left: 10%
        margin-right: 10%
        padding: 0
        min-height: calc( 100vh - 60px )
        @include media("max", "md") 
            margin: 0 0 0 0
            // font-family: ui-rounded

