.App {
  text-align: center;
}
.link-text {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
.coinTable {
  border-bottom: 2px solid white;
  height: 50px;
  /* width: 100%;
  padding: 20000px;
  margin: 20000px; */
}
